<div id="action-window">
  <p><strong>ADD NEW INSTRUCTOR</strong></p>
</div>

<form class="new-form" action="/gym_instructor" method="post">
  First name: <input required type="text" name="first_name">
  Last name: <input required type="text" name="last_name">
  <input type="submit" value="Register instructor">
</form>
