<p>Add new class: </p>

<form action="/addgymclass" method="post">
  Class name: <input type="text" name="name">
  Capacity: <input type="text" name="capacity">
  <input type="submit" value="Add new class">
</form>
