<div id="action-window">
  <p><strong>ADD NEW CLASS</strong></p>
</div>

<form class="new-form" action="/gym_class" method="post">
  Class name: <input required type="text" name="name"><br>
  Capacity: <input required type="number" name="capacity" min="1" max="200">
  <input type="submit" value="Add new class">
</form>
