<p>All bookings: </p>

<% @all_bookings.each do |m| %>
  <ul>
    <li>Name: <%= m['first_name'] %> </li>
    <li>Name: <%= m['last_name'] %> </li>
    <li>Class: <%= m['name'] %></li>
  </ul>
<% end %>
