<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Project</title>
  </head>
  <body>
    <h2>Welcome to Ur Gym!</h2>
    <ul>
      <li><a href="/allmembers">Show all members</a></li>
      <li><a href="/allclasses">Show all classes</a></li>
      <li><a href="/allbookings">Show all class bookings</a></li>
      <li><a href="/addmember">Register new member</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
