<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Project</title>
  </head>
  <body>
    <h2>Welcome to Ur Gym!</h2>
    <ul>
      <li><a href="/gym_member">Show all members</a></li>
      <li><a href="/gym_class">Show all classes</a></li>
      <li><a href="/gym_booking">Show all class bookings</a></li>
      <li><a href="/gym_member/new">Register new member</a></li>
      <li><a href="/gym_class/new">Add new class</a></li>
    </ul>
    <%= yield %>
  </body>
</html>
