body {
  background: linear-gradient(to left top, aqua, azure) fixed;
  margin: 0;
}
header {
  margin: 0;
  height: 16vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0,0,0,0.8)
}
#title-bar {
  margin: 0.5em auto 0;
  width: 85%;
  text-transform: uppercase;
  color: azure;
  font-family: verdana, sans-serif;
}
#title-bar:before {
  content:"Ʋ ";
  color: darkgray;
  font-size: 1.2em;
  text-shadow: 1px 1px lightgray;
}
#nav-menu {
  padding: 1em;
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
#nav-menu li {
  display: inline;
}
#nav-menu a {
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: azure;
  border-radius: 5px;
  border: 2px solid lightgray;
  font-family: verdana, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
}
#nav-menu a:hover {
  color: darkgray;
  border: 2px solid darkgray;
  background: radial-gradient(lightcyan, white)
}
#action-window {
  width: 90%;
  margin: 1em auto;
  padding: 0.3em 0 0 0;
  height: 4vh;
  border: 2px solid darkgray;
  border-radius: 5px;
  background-color: azure;
}
#action-window > p {
  margin: 0 auto;
  width: 90%;
  text-align: center;
}
#content {
  margin: 20vh 1em 0;
}
form {
  font-family: verdana, sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  display: inline-block;
  margin: 0.5em auto;
}
.new-form {
  display: block;
  width: 70%;
  margin: 1em auto;
}
input, select, label {
  font-family: inherit;
  font-size: inherit;
}
label, input[type=submit] {
  text-transform: inherit;
}
form > input {
  margin: 0.5em;
}
input[type=submit] {
  font-size: 1.4em;
}
.form-wrapper {
  position: relative;
  width: 95%;
  margin: 0.5em auto;
  background-color: azure;
  border-radius: 5px;
  border: 2px solid lightgray;
  padding: 0.5em 2em;
}
input[type=submit]:hover {
  color: darkgray;
  cursor: pointer;
}
select:hover {
  color: darkgray;
  cursor: pointer;
}
#member-update-form {
  width: 80%;
}
#member-update-form input[type=text] {
  width: 20%;
}
#member-update-form input[type=email] {
  width: 25%;
}
#member-update-form label {
  display: inline-block;
  width: 12%;
}
.clear-left {
  clear: left;
}
.fix-right {
  float: right;
}
#booking-list {
  display: inline-block;
  width: 30%;
  margin: 0;
}
#booking-list li {
  display: inline-block;
  width: 45%;
}
#booking-list-form {
  width: 10%;
  margin: 0 auto;
}
#booking-list-form input[type=submit] {
  display: inline-block;
  float: left;
  margin: 0;
}
#gymclass-list > li, #gymclass-list,
#gymmember-list > li, #gymmember-list {
  display: inline-block;
}
