<p>Add member: </p>

<form action="/gym_member" method="post">
  First name: <input type="text" name="first_name">
  Last name: <input type="text" name="last_name">
  Age: <input type="number" name="age" min="16" max="120"><br>
  Contact no.: <input type="text" name="contact_number">
  Email: <input type="email" name="email">
  <input type="submit" value="Register member">
</form>
